.dashboardMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
}

.userReviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  width: 100%;
}

.reviewsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  gap: 2rem;
  row-gap: 2rem;
  padding-top: 1rem;
}

.reviewSingle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
