.course-single-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 72%;
}

.container {
  padding-top: 3%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2%;
}

.course-reviews {
  row-gap: 0.5%;
}

.course-overall {
  padding: 2rem;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.201);
}

.review-card {
  padding: 2rem;
  margin-bottom: 3%;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.201);
}

.review-card p,
.course-overall p {
  line-height: 1.7;
}

.review-card h4,
.course-overall h3 {
  font-size: 1.2rem;
}

.review-card .MuiRating-root {
  font-size: 1.35rem;
}
.review-card:last-child {
  margin-bottom: 0;
}

.prof-rating,
.course-rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.review-all-ratings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 700;
  padding-top: 1rem;
}

.review-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-comment {
  padding-top: 2%;
}

.course-overall .prof-rating,
.course-overall .course-rating {
  margin-bottom: 1rem;
}

.allTags {
  margin-top: 1rem;
}

.add-review-btn {
  margin-top: 1%;
}

.review-btn {
  background-color: rgb(222, 254, 231);
}
.review-btn:hover {
  background-color: rgba(212, 255, 224, 0.834);
  cursor: pointer;
}

.coursework-title {
  padding-top: 1%;
}

.change-btn-container {
  padding-top: 0.8rem;
}

.delete-btn {
  color: #ffffff;
  background-color: rgb(255, 95, 95);
}
.delete-btn:hover {
  color: #ffffff;
  background-color: rgba(255, 95, 95, 0.82);
  cursor: pointer;
}

.user-tags {
  padding-top: 0.8rem;
}

.dateCreated {
  padding-top: 0.5rem;
  font-size: 0.85rem;
  color: rgb(32, 32, 32);
}
