.courses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% var(--horizontal-padding);
}

.all-courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  margin-top: 3%;
}

.course-single {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.201);
  min-height: 200px;
  min-width: 300px;
  /* why did this fix the overflow..?? */
}

.course-title {
  font-size: 1.2rem;
}
