.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% var(--horizontal-padding);
  font-weight: 600;
  font-size: 0.9rem;
}

.nav-links ul,
.nav-login ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
  gap: 45px;
  padding: 1% 0;
}

.nav-bar ul a {
  text-decoration: none;
}

.nav-bar .nav-login ul {
  gap: 10px;
}

.nav-bar ul .nav-title {
  font-weight: 700;
  font-size: 1.2rem;
}

.nav-bar button {
  padding: 0.3rem 0.7rem;
  border: none;
  border-radius: 1rem;
  color: #fff;
  background-color: rgba(181, 181, 181, 0.314);
  font-weight: 600;
}

.nav-bar button:hover {
  background-color: rgba(224, 224, 224, 0.314);
}

.nav-search .search-bar {
  padding: 0.3rem 0.7rem;
  border: none;
  border-radius: 1rem;
  margin-right: 0.3rem;
}

.nav-bar .search-bar:focus {
  outline: none;
}
